/* tagnsme */

h1[class]{
    background-color: red;
}
h1[id]{
    background-color: red;
}
a[href]{
    background-color: aquamarine;
}
h2[id]{
    color: rgba(201, 82, 32, 0.91);
    background-color: hsl(240, 59%, 49%);
}