#h0{
    color: blue;
    font-size: 20px;

}

#h1{
    color: red;

}

#h2
{
    color: yellow;

}
#h3{
    color: blue;

}
#h4{
    color: green;

}

#h5{
    color: green;

}
#container{
    
    width: 800px;
    height: 800px;
    background-color: aqua;
    
    display: flex;
}
marquee{


}